*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    width: 100%;
    height: 100vh;
    background: url('wave-haikei.png')no-repeat;
    background-size: cover;
}

.box{
 width: 400px;
 position: relative;
 top: 280px;
 left: 50%;
 transform: translate(-50%, -50%);
box-shadow: 2px 2px 5px #89c9f3, -2px -2px 5px #89c9f3;
border-radius: 8px;
backdrop-filter: blur(8px);
padding: 20px 40px;
}

.signup-header h1{
    font-size: 2.2rem;
    text-align: center;
    padding: 5px 8px;
}

.signup-body p{
    margin-top: 20px;
}

.signup-body p label{
    font-size: 18px;
    font-weight: 600;
}

.signup-body p input::placeholder{
    color: black;
}
.signup-body p{
    width: 100%;
    padding: 10px;
}